@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth !important;
}

body {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

:root {
    --color-border: #61afef;
    --color-warning: #e06c75;
    --color-link: #478bc3;

    --color-theme-background: #282c34;
    --color-theme-surface: #21252b;
    --color-theme-text: #abb2bf;
}
